# Import libraries

In [1]:
import tensorflow as tf
import pandas as pd
import numpy as np
import sympy as sy
import keras
import os
from matplotlib import pyplot as plt
import alpaca_trade_api as tradeapi
import threading
import alpaca_trade_api as alpaca
import time
import datetime
import pickle as pk

/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/usr/local/lib/python3.6/dist-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
Using TensorFlow backend.

In [2]:
api_secret='Uo/Kjc6/3kh3sR6aN30u01Yw0IXnW/w1Yp2Hyp2O'
api_key='PKUD6ZVHED4O8256YKR6'
api = tradeapi.REST(api_key, api_secret, 'https://paper-api.alpaca.markets','v2') # or use ENV Vars shown below
account = api.get_account()
api.list_positions()

[Position({   'asset_class': 'us_equity',
     'asset_id': '8ccae427-5dd0-45b3-b5fe-7ba5e422c766',
     'avg_entry_price': '674.985',
     'change_today': '-0.0044728690450758',
     'cost_basis': '1349.97',
     'current_price': '745.61',
     'exchange': 'NASDAQ',
     'lastday_price': '748.96',
     'market_value': '1491.22',
     'qty': '2',
     'side': 'long',
     'symbol': 'TSLA',
     'unrealized_intraday_pl': '-6.7',
     'unrealized_intraday_plpc': '-0.0044728690450758',
     'unrealized_pl': '141.25',
     'unrealized_plpc': '0.1046319547841804'}),
 Position({   'asset_class': 'us_equity',
     'asset_id': 'f30d734c-2806-4d0d-b145-f9fade61432b',
     'avg_entry_price': '1464.52',
     'change_today': '0.0020322036539022',
     'cost_basis': '2929.04',
     'current_price': '1479.23',
     'exchange': 'NASDAQ',
     'lastday_price': '1476.23',
     'market_value': '2958.46',
     'qty': '2',
     'side': 'long',
     'symbol': 'GOOG',
     'unrealized_intraday_pl': '6',
     'unrealized_intraday_plpc': '0.0020322036539022',
     'unrealized_pl': '29.42',
     'unrealized_plpc': '0.0100442465790839'})]

In [3]:
stockUniverse = ['GOOG','DOMO', 'TLRY', 'SQ', 'MRO', 'AAPL', 'GM', 'SNAP', 'SHOP', 'SPLK', 'BA', 'AMZN', 'SUI', 'SUN', 'TSLA', 'CGC', 'SPWR', 'NIO', 'CAT', 'MSFT', 'PANW', 'OKTA', 'TWTR', 'TM', 'RTN', 'ATVI', 'GS', 'BAC', 'MS', 'TWLO', 'QCOM', ]
# Format the allStocks variable for use in the class.
allStocks = []
for stock in stockUniverse:
  allStocks.append([stock, 0])

In [4]:
n=5

In [5]:
bars=api.get_barset(','.join(stockUniverse),
                     '5Min',limit=100)

In [6]:
bars['GOOG'][99].t

Timestamp('2020-02-07 15:55:00-0500', tz='America/New_York')

In [7]:
class My_df:
    def __init__():
        pass
    def s_bars_to_dfdic(bars):
        symbols=list(bars.keys())
        dfdic={}
        columns=['o','h','l','c','v','t']
        for symbol in symbols:
            df=pd.DataFrame(columns=columns)
            for step in bars[symbol]:
                temp_df=pd.DataFrame(columns=columns,data=[[step.o,
                                                           step.h,
                                                           step.l,
                                                           step.c,step.v,step.t.isoformat()]])
                df=df.append(temp_df,ignore_index=True)
            dfdic[symbol]=df
        return dfdic
    def bars_to_dfdic(self,bars):
        symbols=list(bars.keys())
        dfdic={}
        columns=['o','h','l','c','v','t']
        for symbol in symbols:
            df=pd.DataFrame(columns=columns)
            for step in bars[symbol]:
                temp_df=pd.DataFrame(columns=columns,data=[[step.o,
                                                           step.h,
                                                           step.l,
                                                           step.c,step.v,step.t.isoformat()]])
                df=df.append(temp_df,ignore_index=True)
            dfdic[symbol]=df
        self.dfdic= dfdic
    def save_to_pkl(self,file='data.pkl'):
        with open(file,'wb') as f:
            pk.dump(obj=self.dfdic,file=f)
    def load_from_file(file='data.pkl'):
        with open(file,'rb') as f:
            dfdic=pk.load(f)
        return dfdic
    def merge(dfdic1,dfdic2,symbols):
        dfdic={}
        for df1,df2,symbol in zip(dfdic1.values(),dfdic2.values(),symbols):
            df1=df1.append(df2,ignore_index=True).drop_duplicates()
            dfdic[symbol]=df1
        return dfdic

In [8]:
mdf=My_df
mdf.bars_to_dfdic(mdf,
                  bars=bars)

In [9]:
dfdic1=My_df.load_from_file()

In [10]:
My_df.merge(dfdic1,mdf.dfdic,list(mdf.dfdic.keys()))

{'AAPL':            o        h        l        c      v                          t
 0    313.680  313.790  313.680  313.710   1017  2020-01-16T14:10:00-05:00
 1    313.815  314.020  313.815  313.910   1339  2020-01-16T14:15:00-05:00
 2    313.930  313.990  313.785  313.790   1287  2020-01-16T14:20:00-05:00
 3    313.720  313.925  313.720  313.910    539  2020-01-16T14:25:00-05:00
 4    313.880  313.965  313.810  313.965    763  2020-01-16T14:30:00-05:00
 ..       ...      ...      ...      ...    ...                        ...
 195  319.165  319.225  318.945  319.060   3201  2020-02-07T15:35:00-05:00
 196  319.025  319.855  318.995  319.540   8071  2020-02-07T15:40:00-05:00
 197  319.635  319.820  319.485  319.570  13415  2020-02-07T15:45:00-05:00
 198  319.820  319.845  319.490  319.610   4400  2020-02-07T15:50:00-05:00
 199  319.680  320.030  319.680  320.030  10338  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'AMZN':             o         h         l         c     v                          t
 0    1871.520  1872.230  1871.120  1872.230   177  2020-01-16T14:05:00-05:00
 1    1872.175  1873.040  1871.815  1872.405   288  2020-01-16T14:10:00-05:00
 2    1871.380  1873.200  1871.380  1873.200   469  2020-01-16T14:15:00-05:00
 3    1872.480  1873.360  1872.160  1873.000   214  2020-01-16T14:20:00-05:00
 4    1873.850  1873.850  1873.600  1873.600   121  2020-01-16T14:25:00-05:00
 ..        ...       ...       ...       ...   ...                        ...
 195  2074.270  2074.655  2073.375  2074.365  1323  2020-02-07T15:35:00-05:00
 196  2074.420  2075.720  2073.590  2075.560  2856  2020-02-07T15:40:00-05:00
 197  2076.000  2077.770  2075.650  2076.670  5289  2020-02-07T15:45:00-05:00
 198  2077.000  2078.040  2076.200  2076.270  3983  2020-02-07T15:50:00-05:00
 199  2075.815  2080.340  2075.420  2080.340  9535  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'ATVI':           o       h       l       c      v                          t
 0    60.270  60.270  60.250  60.260    871  2020-01-16T14:10:00-05:00
 1    60.255  60.255  60.230  60.230    300  2020-01-16T14:15:00-05:00
 2    60.240  60.285  60.240  60.280    542  2020-01-16T14:20:00-05:00
 3    60.270  60.320  60.270  60.320   1027  2020-01-16T14:25:00-05:00
 4    60.345  60.350  60.345  60.350     10  2020-01-16T14:30:00-05:00
 ..      ...     ...     ...     ...    ...                        ...
 195  61.770  61.775  61.695  61.720   7330  2020-02-07T15:35:00-05:00
 196  61.720  61.740  61.685  61.685   5922  2020-02-07T15:40:00-05:00
 197  61.695  61.725  61.440  61.440  10537  2020-02-07T15:45:00-05:00
 198  61.455  61.510  61.380  61.420  10611  2020-02-07T15:50:00-05:00
 199  61.430  61.565  61.430  61.520  12113  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'BA':            o        h        l        c      v                          t
 0    332.220  332.390  332.220  332.390     17  2020-01-16T14:05:00-05:00
 1    332.540  332.580  332.345  332.385    405  2020-01-16T14:10:00-05:00
 2    332.415  332.440  332.415  332.440     15  2020-01-16T14:15:00-05:00
 3    332.375  332.375  332.170  332.170    307  2020-01-16T14:20:00-05:00
 4    332.185  332.290  332.185  332.290    220  2020-01-16T14:25:00-05:00
 ..       ...      ...      ...      ...    ...                        ...
 195  337.780  337.780  337.125  337.200   3195  2020-02-07T15:35:00-05:00
 196  337.165  337.490  337.010  337.475   5251  2020-02-07T15:40:00-05:00
 197  337.485  337.485  337.120  337.340   7015  2020-02-07T15:45:00-05:00
 198  337.475  337.475  336.770  336.770   2736  2020-02-07T15:50:00-05:00
 199  336.700  336.960  336.545  336.770  12615  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'BAC':           o       h       l       c      v                          t
 0    34.725  34.740  34.720  34.735  10773  2020-01-16T14:10:00-05:00
 1    34.750  34.775  34.750  34.765  10329  2020-01-16T14:15:00-05:00
 2    34.755  34.755  34.740  34.745   2025  2020-01-16T14:20:00-05:00
 3    34.735  34.745  34.735  34.735  10731  2020-01-16T14:25:00-05:00
 4    34.735  34.735  34.730  34.735  11154  2020-01-16T14:30:00-05:00
 ..      ...     ...     ...     ...    ...                        ...
 195  34.615  34.615  34.590  34.600   3833  2020-02-07T15:35:00-05:00
 196  34.600  34.655  34.595  34.655  10285  2020-02-07T15:40:00-05:00
 197  34.645  34.650  34.610  34.610  49304  2020-02-07T15:45:00-05:00
 198  34.615  34.630  34.550  34.550  21785  2020-02-07T15:50:00-05:00
 199  34.545  34.620  34.540  34.620  41028  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'CAT':            o        h        l        c     v                          t
 0    147.390  147.460  147.390  147.450   600  2020-01-16T14:05:00-05:00
 1    147.440  147.440  147.340  147.400   602  2020-01-16T14:10:00-05:00
 2    147.385  147.430  147.385  147.430  1403  2020-01-16T14:15:00-05:00
 3    147.470  147.470  147.380  147.390  1004  2020-01-16T14:20:00-05:00
 4    147.380  147.415  147.370  147.385  1300  2020-01-16T14:25:00-05:00
 ..       ...      ...      ...      ...   ...                        ...
 195  133.620  133.620  133.480  133.480  1158  2020-02-07T15:35:00-05:00
 196  133.550  133.550  133.420  133.420  1626  2020-02-07T15:40:00-05:00
 197  133.390  133.500  133.340  133.350  2211  2020-02-07T15:45:00-05:00
 198  133.360  133.360  133.020  133.030  4076  2020-02-07T15:50:00-05:00
 199  133.040  133.395  133.040  133.395  5086  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'CGC':           o       h       l       c      v                          t
 0    24.200  24.270  24.200  24.270    200  2020-01-16T13:25:00-05:00
 1    24.230  24.240  24.230  24.240    300  2020-01-16T13:30:00-05:00
 2    24.130  24.130  24.130  24.130    300  2020-01-16T13:35:00-05:00
 3    24.155  24.290  24.155  24.170    600  2020-01-16T13:40:00-05:00
 4    24.250  24.295  24.250  24.295    200  2020-01-16T13:45:00-05:00
 ..      ...     ...     ...     ...    ...                        ...
 195  19.745  19.745  19.660  19.665   2100  2020-02-07T15:35:00-05:00
 196  19.670  19.725  19.670  19.705   1369  2020-02-07T15:40:00-05:00
 197  19.705  19.720  19.700  19.720   3044  2020-02-07T15:45:00-05:00
 198  19.715  19.715  19.620  19.620   4623  2020-02-07T15:50:00-05:00
 199  19.615  19.640  19.605  19.640  11266  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'DOMO':           o       h       l       c    v                          t
 0    25.250  25.250  25.250  25.250  100  2020-01-15T14:25:00-05:00
 1    25.250  25.270  25.250  25.270  300  2020-01-15T14:30:00-05:00
 2    25.230  25.230  25.230  25.230  100  2020-01-15T14:35:00-05:00
 3    25.225  25.225  25.225  25.225  100  2020-01-15T14:40:00-05:00
 4    25.225  25.225  25.150  25.150  300  2020-01-15T14:45:00-05:00
 ..      ...     ...     ...     ...  ...                        ...
 195  24.760  24.760  24.760  24.760    5  2020-02-07T15:05:00-05:00
 196  24.755  24.755  24.755  24.755    1  2020-02-07T15:25:00-05:00
 197  24.690  24.690  24.690  24.690    3  2020-02-07T15:45:00-05:00
 198  24.660  24.665  24.620  24.620  307  2020-02-07T15:50:00-05:00
 199  24.660  24.715  24.640  24.715  544  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'GM':           o       h       l       c      v                          t
 0    35.530  35.550  35.530  35.545    998  2020-01-16T14:10:00-05:00
 1    35.545  35.580  35.545  35.580   1837  2020-01-16T14:15:00-05:00
 2    35.575  35.575  35.550  35.560   1814  2020-01-16T14:20:00-05:00
 3    35.560  35.560  35.495  35.495   1057  2020-01-16T14:25:00-05:00
 4    35.495  35.500  35.455  35.460   1595  2020-01-16T14:30:00-05:00
 ..      ...     ...     ...     ...    ...                        ...
 195  33.630  33.655  33.605  33.635  10090  2020-02-07T15:35:00-05:00
 196  33.625  33.650  33.625  33.650  10050  2020-02-07T15:40:00-05:00
 197  33.655  33.700  33.650  33.655  14070  2020-02-07T15:45:00-05:00
 198  33.660  33.685  33.635  33.635  14677  2020-02-07T15:50:00-05:00
 199  33.635  33.670  33.615  33.635  10991  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'GOOG':             o         h         l         c     v                          t
 0    1445.590  1445.590  1445.590  1445.590    15  2020-01-16T14:10:00-05:00
 1    1446.080  1446.080  1446.080  1446.080   200  2020-01-16T14:15:00-05:00
 2    1446.420  1446.600  1446.340  1446.340   119  2020-01-16T14:20:00-05:00
 3    1446.530  1446.620  1446.385  1446.595   447  2020-01-16T14:25:00-05:00
 4    1446.250  1446.330  1446.050  1446.050   700  2020-01-16T14:30:00-05:00
 ..        ...       ...       ...       ...   ...                        ...
 195  1477.825  1477.825  1477.825  1477.825   100  2020-02-07T15:35:00-05:00
 196  1477.870  1478.165  1477.870  1478.165    26  2020-02-07T15:40:00-05:00
 197  1478.670  1479.080  1477.690  1477.690   515  2020-02-07T15:45:00-05:00
 198  1477.100  1478.180  1477.100  1478.150   503  2020-02-07T15:50:00-05:00
 199  1478.860  1479.350  1478.700  1479.220  1267  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'GS':            o        h        l        c      v                          t
 0    248.460  248.480  248.310  248.480   1185  2020-01-16T14:10:00-05:00
 1    248.540  248.620  248.540  248.555    508  2020-01-16T14:15:00-05:00
 2    248.370  248.370  248.370  248.370     82  2020-01-16T14:20:00-05:00
 3    248.655  248.655  248.445  248.445   1100  2020-01-16T14:25:00-05:00
 4    248.455  248.550  248.420  248.535   1650  2020-01-16T14:30:00-05:00
 ..       ...      ...      ...      ...    ...                        ...
 195  238.075  238.075  238.005  238.055   6443  2020-02-07T15:35:00-05:00
 196  238.015  238.085  237.935  238.040  12534  2020-02-07T15:40:00-05:00
 197  238.060  238.085  237.950  237.970   7678  2020-02-07T15:45:00-05:00
 198  238.000  238.210  237.780  237.780   8678  2020-02-07T15:50:00-05:00
 199  237.695  238.050  237.695  238.000   5171  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'MRO':           o       h       l       c      v                          t
 0    13.370  13.380  13.370  13.380    900  2020-01-16T14:10:00-05:00
 1    13.385  13.390  13.380  13.390  18778  2020-01-16T14:15:00-05:00
 2    13.385  13.385  13.365  13.365  32614  2020-01-16T14:20:00-05:00
 3    13.365  13.365  13.350  13.355   9351  2020-01-16T14:25:00-05:00
 4    13.360  13.365  13.355  13.365   1817  2020-01-16T14:30:00-05:00
 ..      ...     ...     ...     ...    ...                        ...
 195  11.675  11.675  11.650  11.655   3212  2020-02-07T15:35:00-05:00
 196  11.645  11.645  11.630  11.640   2372  2020-02-07T15:40:00-05:00
 197  11.645  11.670  11.640  11.660   4649  2020-02-07T15:45:00-05:00
 198  11.665  11.670  11.645  11.645   6493  2020-02-07T15:50:00-05:00
 199  11.655  11.685  11.655  11.685  16410  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'MS':           o       h       l       c      v                          t
 0    56.935  57.050  56.935  57.040  10908  2020-01-16T14:10:00-05:00
 1    57.060  57.145   57.06  57.095   3776  2020-01-16T14:15:00-05:00
 2    57.080  57.105   56.97  56.980   4075  2020-01-16T14:20:00-05:00
 3    56.985  56.985   56.88  56.880   3058  2020-01-16T14:25:00-05:00
 4    56.915  56.935  56.885  56.885   5081  2020-01-16T14:30:00-05:00
 ..      ...     ...     ...     ...    ...                        ...
 195  54.965  54.975  54.945  54.975   2289  2020-02-07T15:35:00-05:00
 196  54.970  55.030   54.96  55.020   8349  2020-02-07T15:40:00-05:00
 197  55.020  55.070   55.01  55.050   3465  2020-02-07T15:45:00-05:00
 198  55.045  55.065   54.93  54.940   9288  2020-02-07T15:50:00-05:00
 199  54.935  55.030   54.92  55.025  16497  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'MSFT':            o        h        l        c      v                          t
 0    165.135  165.165  165.110  165.135   3879  2020-01-16T14:10:00-05:00
 1    165.140  165.240  165.120  165.240   4230  2020-01-16T14:15:00-05:00
 2    165.255  165.325  165.240  165.295   4581  2020-01-16T14:20:00-05:00
 3    165.285  165.485  165.285  165.465   4965  2020-01-16T14:25:00-05:00
 4    165.460  165.465  165.345  165.355   6244  2020-01-16T14:30:00-05:00
 ..       ...      ...      ...      ...    ...                        ...
 195  184.100  184.115  183.870  184.000   4842  2020-02-07T15:35:00-05:00
 196  183.960  184.175  183.960  183.960   4783  2020-02-07T15:40:00-05:00
 197  183.970  184.000  183.710  183.765  12825  2020-02-07T15:45:00-05:00
 198  183.770  183.825  183.570  183.600  12029  2020-02-07T15:50:00-05:00
 199  183.610  184.045  183.575  183.890   9679  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'NIO':          o      h      l      c      v                          t
 0    4.365  4.365  4.350  4.350  18001  2020-01-16T14:10:00-05:00
 1    4.355  4.355  4.350  4.350  13999  2020-01-16T14:15:00-05:00
 2    4.355  4.365  4.355  4.365  28464  2020-01-16T14:20:00-05:00
 3    4.365  4.365  4.360  4.360   1674  2020-01-16T14:25:00-05:00
 4    4.365  4.365  4.365  4.365   1115  2020-01-16T14:30:00-05:00
 ..     ...    ...    ...    ...    ...                        ...
 195  3.840  3.840  3.810  3.810  15686  2020-02-07T15:35:00-05:00
 196  3.815  3.820  3.805  3.805  21514  2020-02-07T15:40:00-05:00
 197  3.805  3.810  3.800  3.805  14503  2020-02-07T15:45:00-05:00
 198  3.805  3.825  3.800  3.825  36318  2020-02-07T15:50:00-05:00
 199  3.825  3.825  3.810  3.810  55993  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'OKTA':            o        h        l        c     v                          t
 0    129.570  129.570  129.570  129.570   100  2020-01-16T14:10:00-05:00
 1    129.510  129.510  129.510  129.510   100  2020-01-16T14:15:00-05:00
 2    129.615  129.615  129.580  129.580   161  2020-01-16T14:20:00-05:00
 3    129.455  129.455  129.455  129.455   100  2020-01-16T14:25:00-05:00
 4    129.680  129.680  129.495  129.535   350  2020-01-16T14:30:00-05:00
 ..       ...      ...      ...      ...   ...                        ...
 195  131.625  131.700  131.625  131.700   200  2020-02-07T15:35:00-05:00
 196  131.750  132.120  131.750  132.120   407  2020-02-07T15:40:00-05:00
 197  132.190  132.380  132.170  132.340  1132  2020-02-07T15:45:00-05:00
 198  132.380  132.830  132.360  132.830  2171  2020-02-07T15:50:00-05:00
 199  132.840  132.890  132.650  132.850  3306  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'PANW':            o        h       l        c     v                          t
 0    242.940  242.940  242.94  242.940   100  2020-01-16T13:50:00-05:00
 1    242.820  242.940  242.82  242.940   280  2020-01-16T13:55:00-05:00
 2    242.900  243.030  242.88  242.985  2229  2020-01-16T14:00:00-05:00
 3    242.980  242.980  242.97  242.970  1200  2020-01-16T14:05:00-05:00
 4    242.935  242.935  242.93  242.930   300  2020-01-16T14:10:00-05:00
 ..       ...      ...     ...      ...   ...                        ...
 195  246.110  246.380  246.11  246.380   174  2020-02-07T15:25:00-05:00
 196  246.230  246.280  246.23  246.280   201  2020-02-07T15:40:00-05:00
 197  246.095  246.130  245.98  246.080   418  2020-02-07T15:45:00-05:00
 198  246.140  246.140  245.74  245.740   479  2020-02-07T15:50:00-05:00
 199  245.775  245.845  245.68  245.810  1476  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'QCOM':           o       h       l       c     v                          t
 0    91.540  91.585  91.480  91.480  1551  2020-01-16T14:10:00-05:00
 1    91.490  91.500  91.460  91.470   521  2020-01-16T14:15:00-05:00
 2    91.495  91.495  91.450  91.460   356  2020-01-16T14:20:00-05:00
 3    91.470  91.470  91.405  91.405   702  2020-01-16T14:25:00-05:00
 4    91.400  91.405  91.380  91.395   596  2020-01-16T14:30:00-05:00
 ..      ...     ...     ...     ...   ...                        ...
 195  87.955  87.995  87.835  87.835  1662  2020-02-07T15:35:00-05:00
 196  87.795  87.885  87.715  87.725  3363  2020-02-07T15:40:00-05:00
 197  87.715  87.720  87.635  87.645  7871  2020-02-07T15:45:00-05:00
 198  87.645  87.750  87.450  87.450  4246  2020-02-07T15:50:00-05:00
 199  87.395  87.490  87.390  87.430  9330  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'RTN':            o        h        l        c     v                          t
 0    230.650  230.670  230.645  230.650   204  2020-01-16T13:00:00-05:00
 1    230.940  230.940  230.850  230.850  1010  2020-01-16T13:05:00-05:00
 2    230.850  230.850  230.840  230.840   200  2020-01-16T13:10:00-05:00
 3    230.870  230.945  230.870  230.945   106  2020-01-16T13:15:00-05:00
 4    230.940  230.970  230.940  230.970   200  2020-01-16T13:20:00-05:00
 ..       ...      ...      ...      ...   ...                        ...
 195  231.480  231.650  231.270  231.490  1860  2020-02-07T15:35:00-05:00
 196  231.510  231.550  231.450  231.550   564  2020-02-07T15:40:00-05:00
 197  231.345  231.580  231.345  231.580  1807  2020-02-07T15:45:00-05:00
 198  231.580  231.780  230.880  230.930  2906  2020-02-07T15:50:00-05:00
 199  230.930  231.250  230.620  230.650  4861  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'SHOP':            o        h        l        c    v                          t
 0    449.720  449.850  449.720  449.850  139  2020-01-16T12:45:00-05:00
 1    449.205  449.205  448.940  448.940  101  2020-01-16T12:55:00-05:00
 2    449.680  449.800  449.680  449.800  240  2020-01-16T13:00:00-05:00
 3    448.675  448.685  448.495  448.510  712  2020-01-16T13:10:00-05:00
 4    448.225  448.415  447.930  447.930  341  2020-01-16T13:15:00-05:00
 ..       ...      ...      ...      ...  ...                        ...
 195  477.010  477.080  476.940  476.940  250  2020-02-07T15:30:00-05:00
 196  476.655  477.060  476.655  477.060  300  2020-02-07T15:35:00-05:00
 197  477.500  478.140  477.500  477.990  375  2020-02-07T15:40:00-05:00
 198  478.605  478.810  478.490  478.510  226  2020-02-07T15:50:00-05:00
 199  478.530  478.635  478.470  478.635  400  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'SNAP':           o       h       l       c      v                          t
 0    18.375  18.390  18.365  18.390   3071  2020-01-16T14:10:00-05:00
 1    18.385  18.390  18.380  18.385   2424  2020-01-16T14:15:00-05:00
 2    18.380  18.395  18.380  18.395   1300  2020-01-16T14:20:00-05:00
 3    18.395  18.400  18.390  18.395   9630  2020-01-16T14:25:00-05:00
 4    18.395  18.400  18.395  18.400   6644  2020-01-16T14:30:00-05:00
 ..      ...     ...     ...     ...    ...                        ...
 195  17.110  17.125  17.100  17.105  16386  2020-02-07T15:35:00-05:00
 196  17.105  17.120  17.065  17.065  11967  2020-02-07T15:40:00-05:00
 197  17.070  17.105  17.070  17.075  20201  2020-02-07T15:45:00-05:00
 198  17.075  17.095  17.065  17.075  29009  2020-02-07T15:50:00-05:00
 199  17.075  17.125  17.070  17.120  30073  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],
 'SPLK':            o        h        l        c     v                          t
 0    159.605  159.615  159.605  159.615   200  2020-01-16T12:50:00-05:00
 1    159.490  159.495  159.460  159.460   400  2020-01-16T12:55:00-05:00
 2    159.485  159.555  159.485  159.555   603  2020-01-16T13:00:00-05:00
 3    159.500  159.500  159.485  159.485   247  2020-01-16T13:05:00-05:00
 4    159.560  159.560  159.550  159.550   185  2020-01-16T13:10:00-05:00
 ..       ...      ...      ...      ...   ...                        ...
 195  163.050  163.050  162.840  162.910  1791  2020-02-07T15:35:00-05:00
 196  162.950  163.070  162.920  162.920  1604  2020-02-07T15:40:00-05:00
 197  162.870  162.910  162.680  162.730  4078  2020-02-07T15:45:00-05:00
 198  162.750  162.870  162.625  162.660  1957  2020-02-07T15:50:00-05:00
 199  162.640  162.735  162.480  162.605  3808  2020-02-07T15:55:00-05:00

 [200 rows x 6 columns],